/* Root Styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
  --font-family-hdr: 'Roboto Condensed', sans-serif;
  --font-family-pg: 'Roboto', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #F49867 102.67%, #AE67FA 1.84%);
  --gradient-bar: linear-gradient(103.22deg, #F49867 99.55%, #AE67FA -13.86%);

  --color-bg: #040c18;
  --color-footer: #031b34;
  --color-blog: #042c54;
  --color-text: #81afdd;
  --color-subtext: #ff8a71; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
