.style__landing-title {
    color: #fff;
    font-family: var(--font-family-pg);
    font-weight: 500;
}

.style__landing-hdr {
    color: #fff;
    font-family: var(--font-family-pg);
    font-weight: 500;
}